<ion-header>

  <ion-navbar>
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
 <ion-list>
     <form [formGroup]="todo" (submit)="doSignup()">

      <ion-item>
        <ion-label floating>email</ion-label>
        <ion-input clearInput type="text"  formControlName="email"></ion-input>

      </ion-item>
       <div *ngIf="todo.get('email').status === 'PENDING'">
         Checking...
       </div>
       <span
         class="glyphicon glyphicon-refresh glyphicon-refresh-animate text-muted form-control-feedback"
         aria-hidden="true"></span>
       <div *ngIf="todo.get('email').errors && todo.get('email').hasError('username taken') ">
         😢 Oh noes, this username is already taken!
       </div>
        <!--<span>{{todo.get('userName').hasError('username taken') }} </span>
       <div>{{  todo.controls.userName.hasError('required') }}</div>
       <div>{{  todo.controls.userName.hasError('checkUsername') }}</div>-->

      <ion-item>
        <ion-label floating>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input clearInput type="password" formControlName="password" name="password"></ion-input>
      </ion-item>
       <ion-item>
         <ion-label floating>{{ 'Confirm Password' | translate }}</ion-label>
         <ion-input clearInput type="password" formControlName="confPassword" name="password"></ion-input>
       </ion-item>

       <ion-item>
         <ion-label floating>Name</ion-label>
         <ion-input clearInput type="text"  formControlName="firstName"></ion-input>

       </ion-item>
       <ion-item>
         <ion-label floating>LastName</ion-label>
         <ion-input clearInput type="text"  formControlName="lastName"></ion-input>

       </ion-item>
      <!--<div padding>
        <button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>
      </div>-->
      <!--<button ion-button type="submit" [disabled]="!todo.valid">Submit</button>-->
       <button ion-button block type="submit"> Εγγραφή </button>
    </form>
 </ion-list>
</ion-content>
<!--<form (submit)="doSignup()">-->
  <!--<ion-list>-->

    <!--<ion-item>-->
      <!--<ion-label fixed>{{ 'NAME' | translate }}</ion-label>-->
      <!--<ion-input type="text" [(ngModel)]="account.name"  name="name"></ion-input>-->

    <!--</ion-item>-->

    <!--<ion-item>-->
      <!--<ion-label fixed>{{ 'EMAIL' | translate }}</ion-label>-->
      <!--<ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>-->
    <!--</ion-item>-->
    <!--<ion-item>-->
      <!--<ion-label floating>Username</ion-label>-->
      <!--<ion-input type="text" [formControl]="term"  ></ion-input>-->
    <!--</ion-item>-->
    <!--&lt;!&ndash;-->
    <!--Want to add a Username? Here you go:-->


    <!--&ndash;&gt;-->


    <!--<div padding>-->
      <!--<button ion-button color="primary" block>{{ 'SIGNUP_BUTTON' | translate }}</button>-->
    <!--</div>-->

  <!--</ion-list>-->
<!--</form>-->
