<div *ngIf="todo.get('userName').status === 'PENDING'">
  Checking...
</div>
<span
  class="glyphicon glyphicon-refresh glyphicon-refresh-animate text-muted form-control-feedback"
  aria-hidden="true"></span>
<div *ngIf="todo.get('userName').errors && todo.get('userName').hasError('username taken') ">
  😢 Oh noes, this username is already taken!
</div>
<ion-item>
  <ion-label floating>ΑΜΚΑ</ion-label>
  <ion-input clearInput formControlName="amka"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>Α.Φ.Μ.</ion-label>
  <ion-input clearInput formControlName="afm"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>amIKA</ion-label>
  <ion-input clearInput formControlName="amIKA"></ion-input>
</ion-item>
<ion-item>
  <ion-label floating>guideNumber</ion-label>
  <ion-input clearInput formControlName="guideNumber"></ion-input>
</ion-item>
